.about__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #041206;
}
.about__container-navbar {
  margin-top: 35px;
  width: 100%;
}
.about__container-hero {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  max-width: 730px;
  width: 90%;
  margin-inline: auto;
  align-items: center;
  gap:20px;
}
.about__container-hero > h1 {
  font-family: "Michroma", sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 113.75px;
  text-align: center;
  color: #FFFFFF;
}
.about__container-hero > p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  text-align: center;
  color: #FFFFFF;
}
.about__container-section {
  width: 90%;
  display:flex;
  flex-direction: column;
  margin-inline:auto;
  margin-top: 150px;
  gap: 100px;
}
.about__container-footer {
  margin-top: 200px;
}
@media screen and (max-width: 850px) {
  .about__container-hero {
    margin-top: 50px;
    gap: 10px;
  }
  .about__container-hero > h1 {
    font-size: 46px;
    line-height: 66px;

  }
  .about__container-hero > p {
    font-size: 11px;
    line-height: 13px;
    max-width: 450px;
    width: 90%; 
  }
  .about__container-section {
    margin-top: 80px;
    gap: 60px;
  }
}
@media screen and (max-width: 450px) {

  .about__container-navbar {
    margin-top: 5px;
  }  
  .about__container-hero > h1 {
    font-size: 32px;
    line-height: 46px;

  }
  .about__container-hero {
    margin-top: 30px;
  }  
  .about__container-hero > p {
    font-size: 11px;
    line-height: 12px;
  }
}